{% extends 'tasks/base.html' %}

{% block content %}
<section>
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        <div class="fields">
            <div class="field">
                <label for="username">Email / Имя пользователя</label>
                <input type="text" name="username" id="username" required />
            </div>
            <div class="field">
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password" required />
            </div>
        </div>
        <ul class="actions">
            <li><input type="submit" value="Войти" class="primary" /></li>
        </ul>
    </form>
</section>
{% endblock %}
